body{
  background: #ebf0fa;
  text-direction:rtl;
}


/* container class styles*/


.container{
  background-color: blue;

}

/* main class styles*/

.main{
  background-color: yellow;

}

/* main h1{
  background: white;
} */



/* pill class styles*/
.pill{
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem ;
}

.pill.high{
  background-color: red;
  color: red;
  
}


.pill.medium{
  background-color: blue;
  color: red;
}

.pill.low{
  background-color: emerald;
  color: red;
}



/* card class styles*/

.card{
  background-color: purple;
  color: blue;
}

.card .pill{
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-top-left-radius: 0.375rem /* 6px */;
}

